<form data-toggle="validator" role="form" method="POST" action="/members/password_change">
  <div class="form-group margin-bottom0">
    <div class="form-group inline-block margin-bottom0">
      <input data-minlength="4" class="form-control margin5 center-form align_left" type="password" id="inputPassword" placeholder="Password" required>
    </div>
    <div class="form-group inline-block margin-bottom0">
      <input class="form-control margin5 center-form align_right" type="password" name="new_password" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <input class="btn btn-success" type="submit" value="Change Password">
</form>
