<form data-toggle="validator" role="form" method="POST" action="/members/password_change">
  <div class="form-group">
    <div class="form-group">
      <input data-minlength="4" class="form-control margin5 width40 center-form" type="password" id="inputPassword" placeholder="Password" required>
      <span class="help-block">Minimum of 4 characters</span>
    </div>
    <div class="form-group">
      <input class="form-control margin5 width40 center-form" type="password" name="new_password" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <input class="btn btn-success" type="submit" value="Change Password">
</form>
