<h1>Ares Point System - Work in Progress</h1>

<p><b>Username : Current Points</b></p>
<% @points.each do |point| %>
  <div>
    <%= point.name + " : " + point.value.to_s %>
  </div>
<% end %>

<h4>Who needs points?</h4>
<form action="/" method="post">
  <% @points.each do |point| %>
    <input type="checkbox" name="name" value=<%= point.name %>><%= point.name %><br>
  <% end %>
  <input type="submit">
</form>

<h4>Add a new member:</h4>
<form action="/add_member" method="post">
  <input type="text" name="name">
  <input type="submit">
</form>

<form action="/delete_all" method="post">
  <p>Delete All: <input type="submit"></p>
</form>