<h1>Ares Point System - Work in Progress</h1>

<p><b>Username : Current Points</b></p>
<% @points.each do |point| %>
  <div>
    <%= point.name + " : " + point.value.to_s %>
  </div>
<% end %>
<br>
<form action="/" method="post">
  <input type="text" name="name">
  <input type="text" name="value">
  <input type="submit">
</form>

<form action="/delete_all" method="post">
  <p>Delete All: <input type="submit"></p>
</form>