<% if council? %>
<br>
<center>
<h3>Add some points:</h3>
<form class="padding" action="/logs" method="POST">
  <p><b>What boss was killed?</b>
  <select name="boss" class="form-control width20">
    <% @bosses.each do |boss| %>
      <option value="<%= boss.name %>"><%= boss.name %></option>
    <% end %>
  </select>
  </p>
  <br>
  <b>Who was there?</b>
  <table class="table table-condensed width5">
  <% @members.each do |member| %>
    <tr>
    <td>
    <div class="checkbox nomargin">
    <input type="checkbox" name="names[]" value=<%= member.username %>>
    <%= member.username.capitalize %>
    </div>
    </td>
    </tr>
  <% end %>
  </table></p>
  <p><b>When was the boss killed? (TimeZone GMT-8)</b><br>
  <input class="date" type="date" name="date"><input class="time" type="time" name="time"></p>
  <p><b>What dropped?</b><br>
  <input class="form-control width20" type="text" name="item"></p>
  <input class="btn btn-success" type="submit" value="Submit Boss Run">
</form>
</center>
<% end %>
