<form data-toggle="validator" role="form" class="padding" action="/logs" method="POST">
  <div class="form-group">
    <p class="control-label"><b>What boss was killed?</b>
      <select name="boss" class="form-control width20" required>
        <% @bosses.each do |boss| %>
          <option value="<%= boss.id %>"><%= boss.name %></option>
        <% end %>
      </select>
    </p>
  </div>
  <br>
  <div class="form-group has-feedback">
    <b>Who was there?</b>
    <table class="table table-condensed width25em">
      <tr>
      <% @members.each_with_index do |member, index| %>
        <% if index % 3 == 0 %>
          </tr><tr>
        <% end %>
          <td>
            <div class="checkbox nomargin">
              <input type="checkbox" name="names[]" value=<%= member.id %>><%= member.username.capitalize %>
            </div>
          </td>
      <% end %>
      </tr>
    </table>
    <b><div class="help-block with-errors"></div></b>
  </div>
  <div class="form-group has-feedback">
      <p><b>When was the boss killed?</b><br>
      Current time: (<span id='ct' ></span>)</p>
      <input class="form-control date width12em padding-right12" type="date" name="date" data-error="A date or time is missing" required><input class="form-control time width8em padding-right12" type="time" name="time" data-error="A date or time is missing" required></p>
      <b><div class="help-block with-errors"></div></b>
  </div>
  <div class="form-group">
    <p><b>What dropped?</b><br>
    <input class="form-control width20" type="text" name="item"></p>
  </div>
  <input id="submit-run" class="btn btn-success" type="submit" value="Submit Boss Run">
</form>
