<div>
  <form action="/logs/edit" method="POST">
    <input type="hidden" name="_method" value="update">
    <input type="text" name="whatever">
    <input type="submit" value="Edit Log">
  </form>
</div>
