<% if admin? %>
  <br>
  <div class="center">
    <h3>Admin Powers</h3>
    <div>
      <%= erb :"/partials/admin/_add_member" %>
    </div>

    <div>
      <%= erb :"/partials/admin/_update_points" %>
    </div>

    <div>
      <%= erb :"/partials/admin/_update_rank" %>
    </div>

    <div>
      <%= erb :"/partials/admin/_delete_member" %>
    </div>
  </div>
<% end %>
