<meta http-equiv="refresh" content="3;url=/" />
<h2>There was an error with your form submission. You will be redirected to the homepage in 3 seconds.<h2>
<h3><a href="/">If you don't auto-redirect, click here</a></h3>
