<h3>Up-To-Date Points</h3>
<table class="table table-bordered width40 center">
  <tr class="table_header">
    <td>Username</td>
    <td>Current Points</td>
  </tr>
  <%= erb :"/partials/index/_all_members" %>
</table>
