<div class="starter-template">
  <h3>Up-To-Date Points</h3>
  <table class="table table-bordered width40 center">
    <tr class="table_header">
      <td>Username</td>
      <td>Current Points</td>
    </tr>
    <% @members.each do |member| %>
    <tr>
      <td class="bg-success"><%= member.username.capitalize %></td>
      <td class="bg-info"><%= member.current_points.to_s %></td>
    </tr>
    <% end %>
  </table>
</div>
