<div class="center-form">
  <table class="table table-hover width80 center">
    <h3>Available Items</h3>
    <tr>
      <td>Run ID</td>
      <td>Boss Killed</td>
      <td>Item Dropped</td>
      <td>Item Winner</td>
      <td>Date</td>
      <td>Time (GMT)</td>
    </tr>
    <%= erb :"/partials/items/_all_runs" %>
  </table>
  <% if council? %>
    <%= erb :"/partials/items/_reward_item" %>
  <% end %>
</div>
