<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Cole's Point System</title>
</head>
<body>
  <center>
    <h1>Cole's Point System - Work in Progress</h1>
    <% if member? %>
      <navbar>
        <a href="/">Home</a>
        <% if council? %><a href="/boss_run">Boss Run Entry</a>
        <a href="/reward_item">Reward Item</a>
        <% end %>
        <% if admin? %><a href="/admin">Admin Controls</a><% end %>
        <a href="/logout">Logout</a>
      </navbar>
    <% end %>
  </center>
  <%= yield %>
  <footer>
    <center>
      <h1>Made by Cole</h1>
    </center>
  </footer>
</body>
</html>
