<html>
<head>
  <title>Login</title>
</head>
<body>
    <center>
    <form name="login" action="/sessions" method="POST">
      <input class="form-control width20" type="text" name="user[username]" placeholder="Username"><br>
      <input class="form-control width20" type="password" name="user[password]" placeholder="Password"><br>
      <input class="btn btn-primary" type="submit" value="Log in">
</form>
</center>

</body>
</html>
