<html>
<head>
  <title>Login</title>
</head>
<body>
    <center>
    <form name="login" action="/sessions" method="POST">
  <p>Username: <input type="text" name="user[username]"></p>
  <p>Password: <input type="password" name="user[password]"></p>
  <input type="submit" value="Log in">
</form>
</center>

</body>
</html>
