<h3>User Profile</h3>
<div class="profile">
  <div class="float_left padding20">
    <h4>Username: <%= @member.username.capitalize %></h4>
    <h4>Current Points: <%= @member.current_points %></h4>
  </div>

  <div class="float_right">
    <h4>Change your password:</h4>
    <form method="POST" action="/members/password_change">
      <input class="form-control margin5" type="password" name="new_password" placeholder="New Password">
      <input class="btn btn-success" type="submit" value="Change Password">
    </form>
  </div>
</div>
